*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

:root{
    --color-esqueleto:#EFF3F5;
}


/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../images/background-footer.svg);
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1550px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #12284C;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #cc9e6a;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #12284C;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1550px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #12284C;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #12284C;
}

@media only screen and (max-width: 702px) {
    footer {
        margin-bottom: 60px;
    }
}